body{
    background-color: lightblue;
}

/* タブ */
#tabcontrol a{
    display: inline-block;            /* インラインブロック化 */
   border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
   border-style: solid;              /* 枠線の種類：実線 */
   border-color: black;              /* 枠線の色：黒色 */
   border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
   padding: 0.75em 1em;              /* 内側の余白 */
   text-decoration: none;            /* リンクの下線を消す */
   color: black;                     /* 文字色：黒色 */
   background-color: black;          /* 背景色：白色 */
   font-weight: bold;                /* 太字 */
   position: relative;

   margin-top: 200px;
}

/* タブのマウスオーバー時の設定 */
#tabcontrol a:hover
{
    color: white;
}

/* 各ページの背景色を指定 */
#tabcontrol a:nth-child(1), #tabbody div:nth-child(1)
{
    background-color: cornflowerblue
}
#tabcontrol a:nth-child(2), #tabbody div:nth-child(2)
{
    background-color: lightgreen
}
#tabcontrol a:nth-child(3), #tabbody div:nth-child(3)
{
    background-color: indianred
}

/* タブ　ページ */
#tabbody div{
    margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;            /* 内側の余白量 */
    margin-top: -16px; 
    background-color: white; /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;              /* 重なり順序を「最も背面」にするため */
}

#page2 input
{

}

/* プレビュー表示　デフォルト画像を設定 */
.input-file .preview
{
    background-image: url(images/comicon.jpg);
}
.input-file input[type="file"]
{
    opacity: 0;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

.clear
{
    clear: both;
}