body
{
    background-color: paleturquoise;
}

.container
{
    margin: auto;
}

.spacer
{
    width: 50%;
    height: auto;

    float: left;
}

.spacer #data_text
{
    width: 90%;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 32px;
}

.spacer #data_text2
{
    width: 90%;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 32px;
}